<div class="container">

    <div class="row">

        <div class="col-lg-12 hidden-xs hidden-sm">
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Collectie</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            <h2>Collectie</h2>
        </div>

    </div>

    <div class="row">
        <div ng-non-bindable>
            <div class="col-lg-12">
                <div id="sieradenOverview" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner" id="sieradenitems">

                    </div>
                    <span class="left carousel-control" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </span>
                    <span class="right carousel-control" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </span>
                </div>
           </div>
    </div>
</div>
<script src="js/slider.js"></script>
<!-- end of container -->
