<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="page-header">Sieraden Langenhove <small>Zilveren sieraden</small></h1>
            <p>U kan bij mij terecht voor</p>
            <ul>
                <li>de uitwerking van jouw ontwerp</li>
                <li>ringen op maat</li>
                <li>eigen creaties</li>
            </ul>
            <p>Daarnaast bied ik ook cadeaubonnen en workshops aan.</p>
        </div>
        <div class="col-md-6">
            <img src="img/collectie.jpg" width="75%">
        </div>
    </div>
</div>
