<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="page-header">Sieraden Langenhove <small>Zilveren sieraden</small></h1>
            <p>Op zoek naar een uniek, handgemaakt zilveren sieraad?</p>
            <p>Je kan bij mij terecht voor:</p>
            <ul>
                <li>mijn eigen creaties</li>
                <li>uitwerken van jouw ontwerp</li>
                <li>relatieringen</li>
                <li>workshops: 'Maak je eigen origineel juweel!'</li>
                <li>cadeaubonnen</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="img/collectie.jpg" width="75%">
        </div>
    </div>
</div>
