<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="page-header">Sieraden Langenhove <small>Zilveren sieraden</small></h1>
            <p>Op zoek naar een origineel, handgemaakt, zilveren sieraad? Op zoek naar een leuke cadeaumand, een verrassing voor uw geliefde?</p>
            <p>Hiervoor kunt u bij mij terecht. Ik bied</p>
            <ul>
                <li>de uitwerking van jouw ontwerp</li>
                <li>relatieringen op maat</li>
                <li>eigen creaties</li>
            </ul>
            <p>Elk sieraad is een handgemaakt, origineel en uniek stuk.
            <p>Daarnaast kan u bij mij ook terecht voor cadeaubonnen en workshops.</p>
        </div>
        <div class="col-md-6">
            <img src="img/collectie.jpg" width="75%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Workshops</h2>
            <p>
                U kan bij Sieraden Langenhove ook terecht voor een leuke workshop: 'Maak je eigen origineel juweel!'<br>
                Onder begeleiding van een gecertificeerd ACS instructeur (niveau 2) vervaardigt u een uniek sieraad.
                Voor deze workshop is geen ervaring vereist!
                De Art Clay Silver prijs bedraagt €65 per persoon. Hiervoor krijgt u 10gr zilverklei (voldoende voor een ring of hanger en oorhangers),
                gebruik van alle materialen, een hapje en een drankje.<br>
                Na afloop keert iedereen huiswaarts met zijn eigen, origineel sieraad!
            </p>
        </div>
    </div>
</div>
