<div class="container">

    <div class="row">

        <div class="col-lg-12 hidden-xs idden-sm">
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Workshops</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <h2>Workshop</h2>
            <p>
                Onder begleiding van een gecertificeerd ACS instructeur (niveau 2) ontwerp en vervaardig je een uniek sieraad. Voor deze workshop is geen ervaring vereist!
                De Art Clay Silver prijs bedraagt €65 p.p. Hiervoor kijg je 10g zilverklei (voldoende voor een ring of hanger en oorhangers), gebruik van alle marterialen, een hapje en een drankje.
                Na afloop keert iedereen huiswaarts met zijn eigen, origineel juweel!
            </p>
        </div>
        
        <div class="col-md-4 turnabit">
            <img src="img/workshop.jpg" alt="Workshop" style="width:5vw">
        </div>
        
        <div class="col-md-4 turnabit">
            <img src="img/workshop2.jpg" alt="Workshop" style="width:5vw">
        </div>
        
    </div>
    

    <div class="row">
        <div ng-non-bindable>
            <div class="col-lg-12">
                <div id="workshopsOverview" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner" id="workshopitems">

                    </div>
                    <span class="left carousel-control" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </span>
                    <span class="right carousel-control" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </span>
                </div>
           </div>
    </div>
</div>
<script src="js/slider.js"></script>
<!-- end of container -->
